*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
target
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
spring-jdbc/derby.log
spring-test/test-output/
.gradle
.classpath
.project
argfile*
pom.xml

/build
buildSrc/build
/spring-*/build

# IDEA metadata and output dirs
*.iml
*.ipr
*.iws
out
