<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="petInnerBean" class="org.springframework.beans.testfixture.beans.Pet">
		<constructor-arg>
			<bean class="java.lang.String">
				<constructor-arg value="Fido"/>
			</bean>
		</constructor-arg>
	</bean>

	<bean id="petName" class="java.lang.String">
		<constructor-arg value="Dofi"/>
	</bean>

	<bean id="petRefBean" class="org.springframework.beans.testfixture.beans.Pet">
		<constructor-arg ref="petName"/>
	</bean>

</beans>
