<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="properties"
		  class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="name">John Smith</prop>
				<prop key="age">42</prop>
				<prop key="company">Acme Widgets, Inc.</prop>
			</props>
		</property>
	</bean>

	<bean id="employee" class="org.springframework.beans.testfixture.beans.Employee">
		<property name="name" value="#{properties['name']}" />
		<property name="age" value="#{properties['age']}" />
		<property name="company" value="#{properties['company']}" />
	</bean>

	<bean id="pet" class="org.springframework.beans.testfixture.beans.Pet">
		<constructor-arg index="0" value="Fido" />
	</bean>


</beans>
