<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="employee" class="org.springframework.beans.Employee">
		<property name="name" value="John Smith" />
		<property name="age" value="42" />
		<property name="company" value="Acme Widgets, Inc." />
	</bean>

	<bean id="pet" class="org.springframework.beans.Pet">
		<constructor-arg value="Fido" />
	</bean>

	<bean id="foo" class="java.lang.String">
		<constructor-arg value="Foo" />
	</bean>

	<bean id="bar" class="java.lang.String">
		<constructor-arg value="Bar" />
	</bean>

	<bean id="quux" class="java.lang.String">
		<constructor-arg value="Quux" />
	</bean>

</beans>
