##
## test template for Velocity macro test class
##

FORM1
#springFormInput("command.spouses[0].name" "")

FORM2
#springFormTextarea("command.spouses[0].name" "")

FORM3
#springFormSingleSelect("command.spouses[0].name" $nameOptionMap "")

FORM4
#springFormMultiSelect("command.spouses" $nameOptionMap "")

FORM5
#springFormRadioButtons("command.spouses[0].name" $nameOptionMap " " "")

FORM6
#springFormPasswordInput("command.spouses[0].name" "")

FORM7
#springFormHiddenInput("command.spouses[0].name" "")

FORM8
#springFormCheckbox("command.spouses[0].name" "")

FORM9
#springFormCheckbox("command.spouses[0].jedi" "")