##
## test template for Velocity macro test class
##

NAME
$command.name

AGE
$command.age

MESSAGE
#springMessage("hello") #springMessage("world")

DEFAULTMESSAGE
#springMessageText("no.such.code" "hi") #springMessageText("no.such.code" "planet")

THEME
#springTheme("hello") #springTheme("world")

DEFAULTTHEME
#springThemeText("no.such.code" "hi!") #springThemeText("no.such.code" "planet!")

URL
#springUrl("/aftercontext.html")

FORM1
#springFormInput("command.name" "")

FORM2
#springFormInput("command.name" 'class="myCssClass"')

FORM3
#springFormTextarea("command.name" "")

FORM4
#springFormTextarea("command.name" "rows=10 cols=30")

FORM5
#springFormSingleSelect("command.name" $nameOptionMap "")

FORM6
#springFormMultiSelect("command.spouses" $nameOptionMap "")

FORM7
#springFormRadioButtons("command.name" $nameOptionMap " " "")

FORM8
#springFormCheckboxes("command.stringArray" $nameOptionMap " " "")

FORM9
#springFormPasswordInput("command.name" "")

FORM10
#springFormHiddenInput("command.name" "")

FORM15
#springFormCheckbox("command.name" "")

FORM16
#springFormCheckbox("command.jedi" "")


ERRORS
#springShowErrors(" " "")
