<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd"
	   xmlns:context="http://www.springframework.org/schema/c">

	<bean name="human" class="com.hong.beans.Human">
		<property name="name" value="della"/>
		<property name="age" value="18"/>
	</bean>
</beans>