<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" [
<!ENTITY contextInclude SYSTEM "org/springframework/web/portlet/context/WEB-INF/contextInclude.xml">
]>

<beans>

	<import resource="resources/messageSource.xml"/>

	<import resource="/resources/../resources/themeSource.xml"/>

	<bean id="lifecyclePostProcessor" class="org.springframework.beans.factory.LifecycleBean$PostProcessor"/>

	<!--
	<bean
		name="performanceMonitor" class="org.springframework.context.support.TestListener"
	/>
	-->

	<!--
	<bean name="aca" class="org.springframework.context.ACATest">
	</bean>

	<bean name="aca-prototype" class="org.springframework.context.ACATest" scope="prototype">
	</bean>
	-->

	<bean id="beanThatListens" class="org.springframework.context.BeanThatListens"/>

	<bean id="parentListener" class="org.springframework.context.TestListener"/>

	<!-- Inherited tests -->

	<!-- name and age values will be overridden by myinit.properties" -->
	<bean id="rod" class="org.springframework.beans.TestBean">
		<property name="name">
			<value>dummy</value>
		</property>
		<property name="age">
			<value>-1</value>
		</property>
	</bean>

	<!--
			Tests of lifecycle callbacks
		-->
	<bean id="mustBeInitialized"
		class="org.springframework.beans.factory.MustBeInitialized">
	</bean>

	<bean id="lifecycle"
		  class="org.springframework.context.LifecycleContextBean"
		  init-method="declaredInitMethod">
		<property name="initMethodDeclared"><value>true</value></property>
	</bean>

	&contextInclude;

	<bean id="myOverride" class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
		<property name="location">
			<value>/org/springframework/web/portlet/context/WEB-INF/myoverride.properties</value>
		</property>
	</bean>

	<bean id="myPlaceholder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/org/springframework/web/portlet/context/WEB-INF/myplace*.properties</value>
				<value>classpath:/org/springframework/web/portlet/context/WEB-INF/myover*.properties</value>
			</list>
		</property>
	</bean>

	<bean id="init-and-ib"
		class="org.springframework.web.portlet.context.AbstractXmlWebApplicationContextTests$InitAndIB"
		lazy-init="true"
		init-method="customInit"
		destroy-method="customDestroy"
	/>

</beans>
