<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="movieFinder" class="com.atlwj.demo.ioc.di.MovieFinder"></bean>

	<bean id="simpleMovieLister" class="com.atlwj.demo.ioc.di.SimpleMovieLister">
		<!--<constructor-arg index="0" ref="movieFinder"></constructor-arg>-->
		<property name="movieFinder" ref="movieFinder"></property>
	</bean>
</beans>